<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689824491931-s2aebdi4tlvjtp17krkf319gu04pka3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689824491931-s2aebdi4tlvjtp17krkf319gu04pka3j</string>
	<key>API_KEY</key>
	<string>AIzaSyAl65BmkamAZCK4U4E00GLy4sgGifOVb_s</string>
	<key>GCM_SENDER_ID</key>
	<string>689824491931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cafoga.tresastronautas</string>
	<key>PROJECT_ID</key>
	<string>friendlyeats-a682e</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlyeats-a682e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689824491931:ios:01009977325165f2d0993e</string>
	<key>DATABASE_URL</key>
	<string>https://friendlyeats-a682e.firebaseio.com</string>
</dict>
</plist>